.category-wrapper {
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-item {
  display: flex;
  align-items: center;
  height: 35px;
  border-bottom: 1px solid rgb(95, 95, 95);
  cursor: pointer;
}

.selected {
  background-color: green;
}

.category-item:hover {
  background-color: rgb(209, 207, 207);
}

.icon-wrapper {
  color: blue;
  width: 20px;
  margin-right: 3px;
  display: flex;
  align-items: center;
}
